http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [1]:

dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [4]:
    def read(file_path) -> list:
        file_iter = open(file_path, 'r')
        raw_transactions = list()
        for line in file_iter:
            line = line.strip().rstrip(',')
            # remove whitespace around items
            trimmed = [ i.strip() for i in line.split(',') ]
            record = sorted(trimmed)
            raw_transactions.append(record)

        return raw_transactions
    
myfile = read('./data/test-dm-bookch6.csv')

dataset = myfile

In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)

frequent_itemsets = apriori(df, min_support=0.22, use_colnames=True)

frequent_itemsets

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I2, I1)
6   0.444444      (I3, I1)
7   0.222222      (I5, I1)
8   0.444444      (I2, I3)
9   0.222222      (I2, I4)
10  0.222222      (I5, I2)
11  0.222222  (I2, I3, I1)
12  0.222222  (I5, I2, I1)

In [10]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.0)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(I2),(I1),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778
1,(I1),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,-0.074074,0.666667
2,(I3),(I1),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
3,(I1),(I3),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
4,(I5),(I1),0.222222,0.666667,0.222222,1.000000,1.500000,0.074074,inf
5,(I1),(I5),0.666667,0.222222,0.222222,0.333333,1.500000,0.074074,1.166667
6,(I2),(I3),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778
7,(I3),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,-0.074074,0.666667
8,(I2),(I4),0.777778,0.222222,0.222222,0.285714,1.285714,0.049383,1.088889
9,(I4),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
10,(I5),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
11,(I2),(I5),0.777778,0.222222,0.222222,0.285714,1.285714,0.049383,1.088889
12,"(I2, I3)",(I1),0.444444,0.666667,0.222222,0.500000,0.750000,-0.074074,0.666667
13,"(I2, I1)",(I3),0.444444,0.666667,0.222222,0.500000,0.750000,-0.074074,0.666667
14,"(I3, I1)",(I2),0.444444,0.777778,0.222222,0.500000,0.642857,-0.123457,0.444444
15,(I2),"(I3, I1)",0.777778,0.444444,0.222222,0.285714,0.642857,-0.123457,0.777778
16,(I3),"(I2, I1)",0.666667,0.444444,0.222222,0.333333,0.750000,-0.074074,0.833333
17,(I1),"(I2, I3)",0.666667,0.444444,0.222222,0.333333,0.750000,-0.074074,0.833333
18,"(I5, I2)",(I1),0.222222,0.666667,0.222222,1.000000,1.500000,0.074074,inf
19,"(I5, I1)",(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
20,"(I2, I1)",(I5),0.444444,0.222222,0.222222,0.500000,2.250000,0.123457,1.555556
21,(I5),"(I2, I1)",0.222222,0.444444,0.222222,1.000000,2.250000,0.123457,inf
22,(I2),"(I5, I1)",0.777778,0.222222,0.222222,0.285714,1.285714,0.049383,1.088889
23,(I1),"(I5, I2)",0.666667,0.222222,0.222222,0.333333,1.500000,0.074074,1.166667

In [9]:
#apriori(df, min_support=0.6)

In [10]:
#apriori(df, min_support=0.6, use_colnames=True)

In [6]:
# C = Confidence = (Transactions involving kidney beans and eggs) / (Total Transactions involving eggs)
4/5

0.8

In [11]:
df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [14]:
len(df.loc[df['I1'] == True])

6

In [15]:
df['I1']

0     True
1    False
2    False
3     True
4     True
5    False
6     True
7     True
8     True
Name: I1, dtype: bool