In [3]:
#this is for development only and not relevant
%load_ext autoreload
%autoreload

## lets load the data
from utils.helpers import *
df_red, df_white, df_all = pull_and_load_data(force = False)

# create a X_train that is just the features and the associated
# classes (labels) that have been convered to binary classes -- "not good wine", "good wine"
# as described before
X_train, y_train = get_features_and_labels(df_all, binary = True)

import pandas as pd
import numpy as np

from utils import *

path exist and not forced
path exist and not forced

In [4]:
df_categorized, df_bins = convert_to_quantiles(X_train)

df_categorized

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,d-3rdQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-4thQ,d-3rdQ,d-1stQ
1,d-4thQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-2ndQ,d-1stQ,d-3rdQ,d-2ndQ,d-4thQ,d-2ndQ
2,d-4thQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-3rdQ,d-4thQ,d-2ndQ
3,d-4thQ,d-2ndQ,d-4thQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-2ndQ,d-3rdQ,d-2ndQ
4,d-3rdQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-4thQ,d-3rdQ,d-1stQ
...,...,...,...,...,...,...,...,...,...,...,...
4893,d-1stQ,d-1stQ,d-2ndQ,d-1stQ,d-2ndQ,d-2ndQ,d-2ndQ,d-1stQ,d-3rdQ,d-2ndQ,d-3rdQ
4894,d-2ndQ,d-3rdQ,d-3rdQ,d-3rdQ,d-2ndQ,d-4thQ,d-4thQ,d-3rdQ,d-2ndQ,d-2ndQ,d-2ndQ
4895,d-2ndQ,d-2ndQ,d-1stQ,d-1stQ,d-2ndQ,d-3rdQ,d-2ndQ,d-2ndQ,d-1stQ,d-2ndQ,d-1stQ
4896,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-4thQ,d-1stQ,d-4thQ
4897,d-1stQ,d-1stQ,d-3rdQ,d-1stQ,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-3rdQ,d-1stQ,d-4thQ

In [5]:
df_bins

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,sum_stats
0,3.8,0.08,0.00,0.6,0.009,1.0,6.0,0.98711,2.72,0.22,8.0,min
1,6.4,0.23,0.25,1.8,0.038,17.0,77.0,0.99234,3.11,0.43,9.5,d-1stQ
2,7.0,0.29,0.31,3.0,0.047,29.0,118.0,0.99489,3.21,0.51,10.3,d-2ndQ
3,7.7,0.40,0.39,8.1,0.065,41.0,156.0,0.99699,3.32,0.60,11.3,d-3rdQ
4,15.9,1.58,1.66,65.8,0.611,289.0,440.0,1.03898,4.01,2.00,14.9,max

In [6]:
X_train.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

In [7]:
np.unique(df_categorized.loc[:,'alcohol'], return_counts=True)

(array(['d-1stQ', 'd-2ndQ', 'd-3rdQ', 'd-4thQ'], dtype=object),
 array([1872, 1423, 1629, 1573]))

In [8]:
np.unique(df_categorized.loc[:,'fixed_acidity'], return_counts=True)

(array(['d-1stQ', 'd-2ndQ', 'd-3rdQ', 'd-4thQ'], dtype=object),
 array([1721, 1749, 1508, 1519]))

In [9]:

df = df_categorized.copy()
decision = y_train.copy()

df_model = df.copy()

#df_model ['Decision'] = decision # np.where(decision == 0, 'bad', 'good')
df_model ['quality'] =  np.where(decision == 0, 'bad', 'good')

In [12]:
import numpy as np
import pandas as pd
eps = np.finfo(float).eps
from numpy import log2 as log


def find_entropy(df):
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    entropy = 0
    values = df[Class].unique()
    for value in values:
        fraction = df[Class].value_counts()[value]/len(df[Class])
        entropy += -fraction*np.log2(fraction)
    return entropy


def find_entropy_attribute(df,attribute):
  Class = df.keys()[-1]   #To make the code generic, changing target variable class name
  target_variables = df[Class].unique()  #This gives all 'Yes' and 'No'
  variables = df[attribute].unique()    #This gives different features in that attribute (like 'Hot','Cold' in Temperature)
  entropy2 = 0
  for variable in variables:
      entropy = 0
      for target_variable in target_variables:
          #print('attribute: {}'.format(attribute))
          #print('target_variable: {}'.format(target_variable))
          #print('variable: {}'.format(variable))
          #print('Class: {}'.format(Class))
          num = len(df[attribute][(df[attribute] == variable) & (df[Class] == target_variable)]) #
            #len(df[attribute][df[attribute]==variable][df[Class] ==target_variable])
          den = len(df[attribute][df[attribute]==variable])
          fraction = num/(den+eps)
          entropy += -fraction*log(fraction+eps)
      fraction2 = den/len(df)
      entropy2 += -fraction2*entropy
  return abs(entropy2)

def find_winner(df):
    Entropy_att = []
    IG = []
    for key in df.keys()[:-1]:
#         Entropy_att.append(find_entropy_attribute(df,key))
        IG.append(find_entropy(df)-find_entropy_attribute(df,key))
    return df.keys()[:-1][np.argmax(IG)]


def get_subtable(df, node,value):
  return df[df[node] == value].reset_index(drop=True)


def buildTree(df,tree=None): 
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    
    #Here we build our decision tree

    #Get attribute with maximum information gain
    node = find_winner(df)
    print('node:winner: {}'.format(node))
    #Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
    attValue = np.unique(df[node])
    
    print('attValue: {}'.format(attValue))
    #Create an empty dictionary to create tree    
    if tree is None:                    
        tree={}
        tree[node] = {}
    
   #We make loop to construct a tree by calling this function recursively. 
    #In this we check if the subset is pure and stops if it is pure. 

    for value in attValue:
        
        subtable = get_subtable(df,node,value)
        
        clValue, counts = np.unique(subtable[node], return_counts=True)      # np.unique(subtable['Eat'], return_counts=True)                        
        
        if len(counts) == 1: #Checking purity of subset
            tree[node][value] = clValue[0]                                                    
        else:        
            tree[node][value] = buildTree(subtable) #Calling the function recursively 
                   
    return tree

In [14]:
t = buildTree(df_model)

node:winner: alcohol
attValue: ['d-1stQ' 'd-2ndQ' 'd-3rdQ' 'd-4thQ']

In [15]:
t

{'alcohol': {'d-1stQ': 'd-1stQ',
  'd-2ndQ': 'd-2ndQ',
  'd-3rdQ': 'd-3rdQ',
  'd-4thQ': 'd-4thQ'}}

In [16]:
import pprint
pprint.pprint(t)

{'alcohol': {'d-1stQ': 'd-1stQ',
             'd-2ndQ': 'd-2ndQ',
             'd-3rdQ': 'd-3rdQ',
             'd-4thQ': 'd-4thQ'}}